page-home {
  .content {
    // margin-left: 750px;
  }
  #pingButton {
    padding-left: 820px;

  }
  .pingTxt{
    padding: 0;
    margin: none;
  }
  .pingBtn{
    padding: none;
    margin: none;
  }
  #manualButtons {
    margin-left: 500px;
    margin-top: 25px;
    // margin-top: 20px;
  }
  .joystick {
    margin-top: -175px;
    margin-left: 1000px;
  }

}
