page-home {
  .content {
    // margin-left: 750px;
  }
  #pingButton {
    padding-left: 820px;

  }
  .pingTxt{
    padding: 0;
    margin: none;
  }
  .pingBtn{
    padding: none;
    margin: none;
  }
  #manualButtons {
    margin-left: 500px;
    margin-top: 25px;
  }

  #manualVelocity {
    padding-left: 75px;

    input {
      width: 4%;
      margin-top: 10px;
    }
  }
  .joystick {
    margin-top: -110px;
    margin-left: 1000px;
  }

}
